{% extends 'photo.html' %}

{% block title %}{% endblock %}

{% block content %}
<!-- Masthead-->
<header class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">
                <h2 class="mx-auto my-3 text-uppercase">Черно-белый мир фотографий</h2>
                <a class="btn btn-primary" href="{%  url 'base_view'  %}">На главную</a>
            </div>
        </div>
    </div>
</header>
<form method="post">{% csrf_token %}
    <div class="decor">
        <div class="form-left-decoration"></div>
        <div class="form-right-decoration"></div>
        <div class="circle"></div>
        <div class="form-inner">
            <h3>Написать нам</h3>
            {{ form.as_p }}
            <input type="submit" value="Отправить">
        </div>
    </div>
</form>

{% endblock %}
<form method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Save">
</form>