{% extends 'photo.html' %}

{% block title %}{% endblock %}

{% block content %}
<header class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">
                <h2 class="mx-auto my-3 text-uppercase">Черно-белый мир фотографий</h2>
                <a class="btn btn-primary" href="{%  url 'base_view'  %}">НА главную</a>
            </div>
        </div>
    </div>
</header>

<section class="projects-section bg-light" id="projects">
    <div class="container px-4 px-lg-2">
        {% for blog in blogs %}
        <div class="row gx-0 justify-content-center">
            <div class="col-md-5 product-men">
                <div class="product-shoe-info editContent text-center mt-lg-4">
                    <div class="image">
                        <img src="{{  blog.blog_image.url }}" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
            <div class="bloger-content">
                <h5><a>{{ blog.name }}</a></h5>
                <p>{{ blog.description|slice:":325" }}</p>
                <ul>
                    <li><a>{{ blog.date }}</a></li>
                    <li><a href="{{ blog.get_absolute_url }}"><span>Read more</span></a></li>
                </ul>
            </div>
            {% endfor %}
            <nav class="list-pages">
                <ul>
                    {% for p in page_obj.paginator.page_range %}
                    {% if page_obj.number == p %}
                    <li class="page-num page-num-selected">{{ p }}</li>
                    {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
                    <li class="page-num">
                        <a href="?page={{ p }}">{{ p }}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </div>

</section>



{% endblock %}
